.react-formik-ui {
  .form-element {
    /* stylelint-disable-next-line */
    .datePicker-wrapper {
      .react-datepicker__triangle {
        &:before,
        &:after {
          left: -120px;
        }
      }
      .react-datepicker-popper {
        z-index: 10;
      }
    }
  }
  &.theme {
    .form-element {
      /* stylelint-disable-next-line */
      .datePicker-wrapper {
        @extend .rfui-themed-component;
        width: 171px;
        .react-datepicker-popper {
          min-width: 400px;
        }
        .label {
          @extend .rfui-themed-label;
        }
        input {
          @extend .rfui-themed-input;
        }
      }
    }
  }
}
