.react-formik-ui {
  .form-element {
    .radio-wrapper {
      .label {
        display: block;
        margin-bottom: 6px;
      }
      .radio-options {
        &.inline {
          display: flex;
          justify-content: flex-start;
          .radio-option {
            margin-right: 10px;
          }
        }
      }
    }
  }
  &.structure {
    .form-element {
      .radio-wrapper {
        .radio-options {
          .radio-option {
            display: flex;
            align-items: center;
            margin: 0 0 0 5px;
          }
        }
      }
    }
  }
  &.theme {
    .form-element {
      .radio-wrapper {
        .radio-options {
          .radio-option {
            margin-bottom: 5px;
            input[type='radio'] {
              &:checked,
              &:not(:checked) {
                position: absolute;
                left: -9999px;
                &:disabled + label {
                  color: $disabled;
                  &:before {
                    border: 1px dotted currentColor;
                  }
                }
                &:disabled:hover + label:before {
                  background: transparent;
                }
              }
              &:checked + label,
              &:not(:checked) + label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                &:before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 18px;
                  height: 18px;
                  border: 1px solid $border;
                  border-radius: 100%;
                }
                &:after {
                  content: '';
                  width: 12px;
                  height: 12px;
                  background: $blue;
                  position: absolute;
                  top: 4px;
                  left: 4px;
                  border-radius: 100%;
                  -webkit-transition: all 0.2s ease;
                  transition: all 0.2s ease;
                }
              }
              &:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
              }
              &:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
              }
              &:not(:checked):hover + label:before {
                background: $hover;
              }
              &:checked:disabled + label:after {
                background: $disabled;
              }
            }
          }
        }
      }
    }
  }
}
